{{title}}
<div class="home_user">
<br>
<h5>Thank you {{first_name}}. You are now logged in. Your email is: {{email}}.</h5>
<br>
<h6>Upload an image and View Your profile.</h6>
<br>
<br>
<!--/home  -->
<div class="profile-container">
  {{#images}}
    <img class="uploaded-img" src="/uploads/{{path}}" />
  {{/images}}
  <h5>Last image uploaded:</h5>
  <img class="user-image" src="/uploads/{{last_image.path}}" alt="" />
  <hr>
  <br>
  <h5>Upload and share an image.</h5>
  <h5>**Please select a Game of Thrones location to post your image.**</h5>
  <!-- multer upload form -->
  <form method="post" enctype="multipart/form-data" action="/home">
    <div class="location_form">
      <select name="location" data-selected="{{last_image.location.id}}">
        {{#locations}}
        <option value="{{attributes.id}}">{{attributes.location}}, {{attributes.city}}–{{attributes.country}}</option>
        {{/locations}}
      </select>
      <br>
      <br>
    </div>
    <br>
    <div class="caption_box">
    <input type="text" name="title" value="{{caption}}" placeholder="Enter image caption">
    </div>
    <br>
    <br>
    <br>
    <input type="file" id="upload" name="upload">
    <br>
    <br>
    <hr>
    <div class="locations">
      <h6>Click here to view your image on the website:</h6>
    <ul>
    <li><a href="/croatia">1. Croatia</a></li>
    <li><a href="/iceland">2. Iceland</a></li>
    <li><a href="/spain">3. Spain</a></li>
    <li><a href="/malta">4. Malta</a></li>
    <li><a href="/ireland">5. Ireland</a></li>
    </ul>
    <br>
    <br>
    <!-- <input type="submit" value="update_profile" name="Update"> -->
    <input type="submit" value="Update/Upload" name="Update" class='home_userbtn'>
    <br>
    <br>
    </div>
    <hr>
    <div class="user-profile">
      <h5>User Account Info</h5>
      <br>
<!--user info from registration and rendered from database  -->
      <div class="row">
        <form class="col s12">
          <div class="row">
            <div class="input-field col s6">
              <input value="{{first_name}}" name="first_name" id="first_name" type="text" class="validate">
              <label for="first_name">First Name</label>
            </div>
            <div class="input-field col s6">
              <input value="{{last_name}}" name="last_name" id="last_name" type="text" class="validate">
              <label for="last_name">Last Name</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input value="{{email}}" name="email" id="email" type="email" class="validate">
              <label for="email">Email</label>
            </div>
          </div>

          <br>
          <br>
          <button class="logout" onclick="window.location.href='/users/logout';">Log Out</button>
      </div>
    </div>
    </form>
    <hr>
    <br>
    </div>
    <!-- end of container -->
    </div>
